<head>
    <link rel="stylesheet" type="text/css" href="{% print url_for('static', filename='css/material.css') %}" />
    <link rel="stylesheet" type="text/css" href="{% print url_for('static', filename='css/style.css') %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Suggestions de tweets</title>
</head>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Home</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">

                <img src="{% print url_for('static', filename='img/user.jpg') %}" class="display-user demo-avatar">
                <div class="demo-avatar-dropdown display-user">
                    <span>{{username}}</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                        <span class="visuallyhidden">Accounts</span>
                    </button>
                    <!-- <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        <li class="mdl-menu__item" onclick="toggleForm('user')">
                            <i class="material-icons" style="margin-right: 10px">compare_arrows</i> Change user
                        </li>
                    </ul> -->
                </div>

                <!-- <form id="form-user" action={{ url_for('switchUser') }} method="post">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" id="username" type="text" name="username">
                        <label class="mdl-textfield__label" for="username">Pseudo...</label>
                    </div>
                </form> -->

            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

                <a id="refresh-cat" href="#"><img src="{% print url_for('static', filename='img/ajax-loader.gif') %}"/> Loading categories</a>
                <div id="cat-list">
                </div>

                <a class="mdl-navigation__link" onclick="toggleCat(-1, {{num_cat}})">
                    <i class="mdl-color-text--blue-grey-400 material-icons">visibility</i>
                    <span class="list-item">Show all</span>
                </a>
            </nav>
        </div>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid demo-content">
                <a id="refresh-tweets" href="#"><img src="{% print url_for('static', filename='img/ajax-loader.gif') %}"/> Loading tweets</a>

                <div id="tweets-list">
                </div>
            </div>
        </main>
    </div>

    <a href="https://github.com/google/material-design-lite/blob/master/templates/dashboard/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">View Source</a>
    <script type="text/javascript" src=" {% print url_for('static', filename='js/material.js') %}"></script>
    <script type="text/javascript" src=" {% print url_for('static', filename='js/jquery.js') %}"></script>
    <script type="text/javascript" src=" {% print url_for('static', filename='js/scripts.js') %}"></script>
</body>
